@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global SVG styles */
img[src$=".svg"] {
  mix-blend-mode: multiply;
}

img[src$=".svg"] * {
  fill: none;
  vector-effect: non-scaling-stroke;
}
